@use '../helpers' as *;

.mobile-overlay {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 14px 20px;

  border: none;

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }

  &__list {
    @include mix-flex-center;

    flex-direction: column;
    row-gap: 30px;
    min-height: 80vh;
  }
}
