@use '../helpers/' as *;

.process {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    counter-reset: custom-counter;
    list-style: none;

    @include med-mobile {
      row-gap: 20px;
    }
  }

  &__item {
    --counterContent: counter(custom-counter);

    counter-increment: custom-counter;

    &:nth-child(-n + 9) {
      --counterContent: '0' counter(custom-counter);
    }
  }

  &__accordion {
    --indicatorRotationAngle: 90deg;

    padding: 40px 60px;

    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);

    transition-duration: var(--transition-duration);

    @include med-hover {
      background-color: var(--color-accent);
    }

    @include med-mobile {
      padding: 30px;
    }

    &[open] {
      --indicatorRotationAngle: 0deg;

      background-color: var(--color-accent);
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;

      cursor: pointer;
      user-select: none;

      @include med-mobile {
        column-gap: 28px;
      }
    }

    &-title {
      @include mix-fluid-text(30, 18);

      display: flex;
      align-items: center;
      column-gap: 25px;

      @include med-mobile {
        column-gap: 33px;
      }

      &::before {
        content: var(--counterContent);

        font-size: 2em;

        @include med-mobile {
          font-size: 30px;
        }
      }
    }

    &-indicator {
      @include mix-flex-center;
      @include mix-square(58px);

      position: relative;

      flex-shrink: 0;

      background-color: var(--color-gray);
      border: var(--border);
      border-radius: 50%;

      @include med-mobile {
        width: 30px;
      }

      &::before,
      &::after {
        @include mix-abs-center;

        content: '';
        width: 45%;
        height: 10%;
        background-color: var(--color-dark);
      }

      &::after {
        rotate: var(--indicatorRotationAngle);

        transition-duration: var(--transition-duration);
      }
    }

    &-body {
      margin-top: 30px;
      padding-top: 30px;

      border-top: var(--border);
    }
  }
}
